{% extends "master.twig" %}
{% block titulo %}Ajustes
{% endblock %}
{% block contenido %}
    <main class="container-fluid">
        <div class="row">
            <div class="col-4">
                <h1>Ajustes</h1>
                <form action="{{ URL_RAIZ }}/ajustes" method="POST">
                    {% include "componentes/sesion_flash.twig" %}
                    {% include "componentes/token_csrf.twig" %}
                    <div class="form-group">
                        <label for="enlace">Enlace para membresía premium</label>
                        <input value="{{ enlace }}" class="form-control" placeholder="mailto:parzibyte@gmail.com"
                               id="enlace" name="enlace"
                               type="text">
                        <small class="form-text text-muted">A donde se redireccionan los usuarios que quieren comprar
                            una
                            membresía (puede ser tu web, un enlace a tu Telegram, a tu correo, etcétera)</small>
                    </div>
                    <button class="btn btn-success">Guardar</button>
                </form>
            </div>
        </div>
    </main>

{% endblock %}
