{% extends "master.twig" %}
{% block titulo %}Nuevo enlace
{% endblock %}
{% block contenido %}
    <main class="container-fluid">
        <div class="row">
            <div class="col-12">
                <h1 class="text-center">Enlaces</h1>
                <a href="{{ URL_RAIZ }}/enlaces/agregar" class="btn btn-info">Agregar </a>

            </div>
        </div>
    </main>
{% endblock %}
