<footer class="px-2 py-2 fixed-bottom bg-dark">
    <span class="text-muted">
        <span class="text-white">
            {{ NOMBRE_APLICACION }}
        </span>
        |
        Programado con
        <i class="fa fa-heart text-danger"></i>
        por
        <a class="text-white" href="{{ WEB_AUTOR }}">{{ AUTOR }}</a>&nbsp;|&nbsp;<a class="text-muted"
                                                                                    href="//parzibyte.me/blog/contacto">¿Quieres
            un software parecido?</a>
    </span>
</footer>
